In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\satvi\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\satvi\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\satvi\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\satvi\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\satvi\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\satvi\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\satvi\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\satvi\anaconda3\lib\site-packages (from requests) (2.10)

### 1. Python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page

In [2]:
from bs4 import BeautifulSoup as bs
import requests

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = bs(page.text, 'html.parser')
headers = soup.find_all(['h1', 'h2','h3'])
for i in headers:
    print('List all the header tags :',i,sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>
List all the header tags :

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
List all the header tags :

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
List all the header tags :

<h2>Navigation menu</h2>
List all the header tags :

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>
List all the header tags :

<h3>
<label for="searchInput">Search</label>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
List all the header tags :

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

### 2.Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of Release)and dataframe

In [4]:
import pandas as pd 
import numpy as np

In [5]:
url='https://www.imdb.com/list/ls055592025/?sort=user_rating,desc&st_dt=&mode=detail&page=1'
response=requests.get(url)
soup=bs(response.content,'html.parser')
movie_name=[]
year_of_release=[]
IMDB_rating=[]
movie_data=soup.find_all('div',attrs={'class':'lister-item-content'})
for store in movie_data:
    name=store.h3.a.text
    movie_name.append(name)
    
    year=store.h3.find('span',class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year_of_release.append(year)
    
    rating=store.find('div',class_='ipl-rating-star small').text.replace('\n','')
    IMDB_rating.append(rating)

In [6]:
movie_DF=pd.DataFrame({'Movie Name':movie_name,'IMDB Rating':IMDB_rating,'Year Of Release':year_of_release},index=range(0,100,1))
movie_DF.head(100)

                  Movie Name IMDB Rating Year Of Release
0   The Shawshank Redemption         9.3            1994
1              The Godfather         9.2            1972
2     The Godfather: Part II           9            1974
3               12 Angry Men           9            1957
4               Pulp Fiction         8.9            1994
..                       ...         ...             ...
95         Wuthering Heights         7.6            1939
96           West Side Story         7.5            1961
97         American Graffiti         7.4            1973
98       Terms of Endearment         7.4            1983
99      An American in Paris         7.2            1951

[100 rows x 3 columns]

### 3.To display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and dataframe

In [7]:
url='https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1'
response=requests.get(url)
soup=bs(response.content,'html.parser')
movie_name=[]
year_of_release=[]
IMDB_rating=[]
movie_data=soup.find_all('div',attrs={'class':'lister-item-content'})
for store in movie_data:
    name=store.h3.a.text
    movie_name.append(name)
    
    year=store.h3.find('span',class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year_of_release.append(year)
    
    rating=store.find('div',class_='ipl-rating-star small').text.replace('\n','')
    IMDB_rating.append(rating)

In [8]:
Movies=pd.DataFrame({'Movie Name':movie_name,'IMDB Rating':IMDB_rating,'Year Of Release':year_of_release},index=range(0,100,1))
Movies.head(100)

               Movie Name IMDB Rating Year Of Release
0   Goopy Gyne Bagha Byne         8.8            1969
1         Sagara Sangamam         8.8            1983
2                 Nayakan         8.7            1987
3         Pather Panchali         8.6            1955
4         Pushpaka Vimana         8.6            1987
..                    ...         ...             ...
95                 Vanaja         7.1            2006
96            Amma Ariyan           7            1986
97                Chandni         6.8            1989
98           Neecha Nagar         6.8            1946
99        English, August         6.8            1994

[100 rows x 3 columns]

### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [9]:
url='https://bookpage.com/features/26265-sweet-substantial-romance#.YMn0y2gzZPY'
response=requests.get(url)
soup=bs(response.content,'html.parser')
book_name=[]
author_name=[]
genre=[]
book_review=[]
name=soup.find_all('h4',attrs={'class':'italic'})
for i in name:
    book=i.text.replace('*','').replace('\n','')
    book_name.append(book)
author=soup.find_all('p',class_='sans bold')
for j in  author:   
    authorname=j.a.text
    author_name.append(authorname)
genric=soup.find_all('p',class_='genre-links sans')
for k in genric:
    genrous=k.a.text
    genre.append(genrous)
review=soup.find_all('div',class_='article-body')
for l in review:
    bookreview=l.text.replace('\n\n','')
    book_review.append(bookreview)

In [10]:
book_review

['These five queer romances are the perfect blend of swoon-inducing and serious, balancing delicious escapism with examinations of thorny issues such as family expectations, the grieving process and the corrosive influence of the British class system.★\xa0The Queer Principles of Kit Webb\nSet in Georgian-era England, Cat Sebastian’s The Queer Principles of Kit Webb takes a charming, gratifyingly original perspective on love across the class divide. The titular Kit is a gruff retired highwayman-turned-coffee house proprietor who truly despises the aristocracy. Edward Percy Talbot, Lord Holland, is one of the British class system’s greatest beneficiaries. A dandy and marquess, Percy is the heir to a prosperous dukedom held by one of England’s most notorious abusers of aristocratic privilege and power.\xa0\nKit is skeptical when the conspicuously costumed and brazenly flirtatious popinjay starts to haunt his coffee shop on a daily basis. Percy’s position in the world is more precarious than one would expect, however, and he approaches the disillusioned highwayman to do one last job. Their mission: steal a book that Percy’s father keeps on his person at all times, one whose contents will provide leverage and financial security for Percy, his stepmother and his infant half -sister.\xa0\nKit retired after his last job went wrong, incurring a serious injury and losing his best friend and partner. Because of this, he trains Percy to take the main role in the heist, putting them in close physical proximity.\xa0\nTheir sexual tension is a living, breathing thing on the page, but mercifully, Sebastian doesn’t leave them in want for long. And there’s plenty of sparkling dialogue to go with their physical connection. Kit has very clear opinions about the privilege Percy is fighting to protect, and their conversations about class and politics are uniformly excellent and fascinating. Kit Webb will surprise and delight not only fans of Sebastian and queer historical romance but also readers who are new to both.\n—Carole V. Bell\nHard Sell\nHudson Lin’s intricate, weighty Hard Sell follows the ramifications of a sexy one-night stand. A business acquisition reunites private equity investor Danny Ip and finance guru Tobin Lok seven years after the childhood friends finally gave in to their mutual attraction. Danny is interested in buying and shutting down WesTec, a buzzy tech startup. As an independent financial consultant, Tobin has been tasked with helping WesTec avoid bankruptcy, or at the very least, making sure Danny doesn’t undervalue the company in order to make a profit. The spark between them remains despite the time and distance—but so do the complications around their potential romance, which extend beyond Tobin’s tricky professional position.\xa0\nWhen they were growing up, Tobin’s tightknit family was big and meddlesome, but it was also a bastion of safety and belonging to Danny, who was Tobin’s older brother’s best friend. As an only child whose single mother was constantly working, Danny thought the Loks’ house was heaven. But for Tobin, the youngest son with a desperate crush on Danny, his family’s “well-intentioned smothering” was and remains difficult.\nLin creates a loving, traditional family with the Loks, but she also shows their tone-deaf attitudes toward Tobin’s life as a gay man in a very real, palpable way. Tobin’s mother calls regularly, and his brother sends photos of Tobin’s nephew. Tobin yearns for acceptance beyond superficial inclusion, but he has no idea whether a potential relationship with Danny would make things better or immeasurably worse.\nMuch is at stake for these men, who have banked their love for one another for nearly a decade. But when Danny and Tobin finally give in to their hearts, the result is euphoric.\n—Dolly R. Sickles\n★\xa0Satisfaction Guaranteed\nWhen Cade Elgin travels from her New York City home to Portland, Oregon, for her aunt’s funeral, she’s totally unprepared for her inheritance: her aunt’s sex-toy store, which is on the verge of bankruptcy. Cade is a careful, conservative businesswoman, with no room in her life for shenanigans or the wacky gold lamé preferences of her fellow funeralgoers. Fortunately, her new business partner-in-inheritance, Selena Mathis, has the passion and whimsy to balance Cade’s business prowess. Having taken a self-imposed oath of celibacy after some relationship troubles, Selena doesn’t want anything to do with the unexpected attraction she feels for Cade.\xa0\nOregon writer Karelia Stetz-Waters employs humor like a finely trained chef, sprinkling in lighthearted moments precisely when heavier topics require a little levity. Death, inheritance and responsibility are weighty conversations for any new romantic duo, but Cade and Selena’s ability to synchronize with one another is remarkable. Satisfaction Guaranteed is a standout romance with humor, heart and two characters who step out of their comfort zones together.\xa0\n—Dolly R. Sickles\nHow to Find a Princess\nAlyssa Cole returns with the second installment of her Runaway Royals series, How to Find a Princess, and it’s just as fun, smart and challenging as last year’s How to Catch a Queen. Readers can count on this series to deliver total immersion into a sweeping, romantic alternate reality and intelligent, complicated female characters.\xa0\nBeznaria Chetchevaliere is an investigator for the World Federation of Monarchies, and she’s searching for Makeda Hicks, the lost heir of the idyllic kingdom of Ibarania. Decades ago, Makeda’s grandmother had a hot summer fling with the then-heir to the throne, Prince Keshan. The pragmatic Makeda is thrown by this information, which reveals that a family tall tale is not only true but also potentially life-changing. She’s already reeling from recently losing her job and her girlfriend, so seeing the magic in her potentially royal lineage feels impossible; rather, it seems like a solemn, daunting duty she never asked for.\xa0\nCole’s allusions to the animated 1997 film Anastasia will delight fans, and anyone fascinated by the story of the Romanov princess will be tickled, but Cole’s take on the lost heir mythos is a more mature tale with hefty stakes.\n—Dolly R. Sickles\n★\xa0Rosaline Palmer Takes the Cake\nIn Rosaline Palmer Takes the Cake, Alexis Hall (Boyfriend Material) explores contemporary class and societal expectations through believable characters who struggle with substantial pain and self-doubt.\xa0\nRosaline is a bisexual woman with a privileged pedigree. Both of her parents are highly successful doctors, and she grew up in one of London’s most affluent districts. But after a surprise pregnancy during her time at Cambridge, she’s now a doting mom who makes delicious baked creations with her precocious 8-year-old daughter, Amelie.\xa0\nCompeting on the BBC’s popular baking competition show “Baked Expectations” could be Rosaline’s ticket out of financial disaster. But even though she rejected the path her parents chose for her, Rosaline hasn’t managed to throw off the values and expectations they inculcated in her. When she arrives at the competition to find it full of potential love interests, she sees them through a class-based filter. Rosaline may stand up to biphobia, especially around her daughter, but she also repeatedly, reflexively upholds class and gender biases. For example, she deems her lovely co-star Harry off-limits because of his working-class accent and profession.\xa0\nDespite the heavy subject matter, this rom-com provides a cornucopia of cringey, laugh-out-loud moments. Its combination of social insight and comedy makes for a surprisingly twisty tale. (Rosaline has multiple love interests, and it’s not clear who she will choose for large swaths of the story.) This complexity also means that the central romance doesn’t get as much page time as one would expect. The scenes between Rosaline and her eventual soul mate are gorgeous but scarce, which might leave some readers wanting more. Nonetheless, Hall’s creation is a joy—a deeply emotional and ultimately rewarding story about a woman finding her true path and true love, surrounded by delicious baked goods on a BBC soundstage.\xa0\n—Carole V. Bell']

In [ ]:
genre

In [11]:
author_name

['Cat Sebastian',
 'Hudson Lin',
 'Karelia Stetz-Waters',
 'Alyssa Cole',
 'Alexis Hall']

In [12]:
book_name

['★ The Queer Principles of Kit Webb',
 'Hard Sell',
 '★ Satisfaction Guaranteed',
 'How to Find a Princess',
 '★ Rosaline Palmer Takes the Cake']

### 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [13]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response=requests.get(url)
soup=bs(response.content,'html.parser')
mens_team=[]
records_for_matches=[]
points=[]
rating=[]
teams=soup.find_all('span',class_='u-hide-phablet')
for i in teams:
    mensteam=i.text
    mens_team.append(mensteam)
records=soup.find_all('td',class_='table-body__cell u-center-text')
for j in records:
    matchesrecord=j.text
    records_for_matches.append(matchesrecord)
score=soup.find_all('td',class_='table-body__cell u-center-text')
for k in score:
    ranking=k.text
    points.append(ranking) 
rates=soup.find_all('td','table-body__cell u-text-right rating') 
for l in rates:
    star=l.text
    rating.append(star)

In [14]:
mens_team[:10]

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [15]:
records_for_matches[:10]

['25', '2,945', '29', '3,344', '27', '3,100', '20', '2,137', '24', '2,323']

In [16]:
rating[:10]

['118', '115', '115', '107', '97', '90', '82', '78', '62', '48']

In [17]:
points[:10]

['25', '2,945', '29', '3,344', '27', '3,100', '20', '2,137', '24', '2,323']

## ii) Top 10 ODI Batsmen in men along with the records of their team and rating

In [18]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response=requests.get(url)
soup=bs(response.content,'html.parser')
batsman_name=[]
records_of_team=[]
rating=[]
batsman=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for j in batsman:
    player=j.a.text
    batsman_name.append(player)
records=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
for i in records:
    team=i.text.replace('\n' ,'')
    records_of_team.append(team)
ratings=soup.find_all('td',class_='table-body__cell rating')
for k in ratings:
    star=k.text
    rating.append(star)

In [19]:
records_of_team[:10]

['                                911 v England, 12/07/2018                        ',
 '                                885 v Sri Lanka, 06/07/2019                        ',
 '                                841 v Bangladesh, 05/06/2019                        ',
 '                                798 v England, 25/06/2019                        ',
 '                                796 v India, 26/03/2021                        ',
 '                                778 v South Africa, 07/04/2021                        ',
 '                                820 v Australia, 06/07/2019                        ',
 '                                880 v Pakistan, 26/01/2017                        ',
 '                                808 v Bangladesh, 17/05/2019                        ',
 '                                813 v Sri Lanka, 10/03/2019                        ']

In [20]:
rating[:10]

['857', '825', '801', '791', '785', '778', '778', '773', '773', '756']

In [21]:
batsman_name[:10]

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope',
 'Quinton de Kock']

### iii) Top 10 ODI bowlers along with the records of their team and rating

In [22]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response=requests.get(url)
soup=bs(response.content,'html.parser')
bowlers=[]
team_records=[]
rating=[]
odi=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for m in odi:
    odibowlers=m.a.text.replace('\n','')
    bowlers.append(odibowlers)
records=soup.find_all('td','table-body__cell u-text-right u-hide-phablet')
for j in records:
    team=j.text.replace('\n','')
    team_records.append(team)
rate=soup.find_all('td',class_='table-body__cell rating')
for k in rate:
        star=k.text
        rating.append(star)

In [23]:
rating[:10]

['713', '708', '691', '690', '666', '665', '660', '646', '645', '638']

In [24]:
team_records[:10]

['                                725 v Sri Lanka, 25/05/2021                        ',
 '                                712 v Ireland, 24/01/2021                        ',
 '                                691 v Bangladesh, 26/03/2021                        ',
 '                                841 v West Indies, 01/11/2018                        ',
 '                                724 v England, 29/05/2017                        ',
 '                                676 v New Zealand, 14/07/2019                        ',
 '                                733 v England, 26/01/2018                        ',
 '                                729 v Pakistan, 12/06/2019                        ',
 '                                695 v West Indies, 14/12/2018                        ',
 '                                663 v Sri Lanka, 02/10/2019                        ']

In [25]:
bowlers[:10]

['Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mustafizur Rahman',
 'Mohammad Amir']

### 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [26]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response=requests.get(url)
soup=bs(response.content,'html.parser')
womens_team=[]
matches=[]
points=[]
rating=[]
team=soup.find_all('span','u-hide-phablet')
for i in team:
    number=i.text
    womens_team.append(number)
played=soup.find_all('td',class_='table-body__cell u-center-text')
for j in played:
    matchesplayed=j.text
    matches.append(matchesplayed)
score=soup.find_all('td',class_='table-body__cell u-center-text')
for l in score:
    Points=l.text
    points.append(Points)
rates=soup.find_all('td','table-body__cell u-text-right rating')
for k in rates:
    star=k.text
    rating.append(star)

In [27]:
points[:10]

['24', '2,828', '17', '1,993', '20', '2,226', '21', '1,947', '12', '1,025']

In [28]:
matches[:10]

['24', '2,828', '17', '1,993', '20', '2,226', '21', '1,947', '12', '1,025']

In [29]:
rating

['118', '117', '111', '93', '85', '73', '61', '47', '13']

In [30]:
womens_team[:10]

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [31]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response=requests.get(url)
soup=bs(response.content,'html.parser')
women_player=[]
team_records=[]
rating=[]
women=soup.find_all('td','table-body__cell rankings-table__name name')
for i in women:
    player=i.a.text.replace('\n','')
    women_player.append(player)
records=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
for j in records:
    teams=j.text.replace('\n','')
    team_records.append(teams)
rates=soup.find_all('td',class_='table-body__cell rating')
for k in rates:
    star=k.text
    rating.append(star)

In [32]:
rating[:10]

['758', '756', '746', '723', '715', '710', '709', '685', '683', '679']

In [33]:
team_records[:10]

['                                773 v India, 14/03/2021                        ',
 '                                756 v New Zealand, 10/04/2021                        ',
 '                                765 v India, 02/03/2012                        ',
 '                                834 v New Zealand, 24/02/2016                        ',
 '                                756 v Australia, 02/03/2017                        ',
 '                                797 v England, 28/02/2019                        ',
 '                                839 v Australia, 24/12/2004                        ',
 '                                712 v India, 25/02/2019                        ',
 '                                725 v India, 07/03/2021                        ',
 '                                766 v West Indies, 11/09/2019                        ']

In [34]:
women_player[:10]

['Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Ellyse Perry']

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [35]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
response=requests.get(url)
soup=bs(response.content,'html.parser')
womens_odi_all_rounder=[]
team_records=[]
rating=[]
allrounder=soup.find_all('td','table-body__cell rankings-table__name name')
for i in allrounder:
    womensodi=i.a.text
    womens_odi_all_rounder.append(womensodi)
teams=soup.find_all('td','table-body__cell u-text-right u-hide-phablet')
for j in teams:
    records=j.text.replace('\n','')
    team_records.append(records)
rates=soup.find_all('td',class_='table-body__cell rating')
for k in rates:
    star=k.text
    rating.append(star)

In [36]:
rating[:10]

['418', '410', '349', '343', '307', '252', '243', '242', '236', '236']

In [37]:
team_records[:10]

['                                548 v West Indies, 11/09/2019                        ',
 '                                559 v New Zealand, 10/10/2013                        ',
 '                                349 v New Zealand, 28/02/2021                        ',
 '                                397 v South Africa, 09/10/2019                        ',
 '                                308 v West Indies, 11/09/2019                        ',
 '                                256 v New Zealand, 04/04/2021                        ',
 '                                421 v Sri Lanka, 11/02/2019                        ',
 '                                305 v Australia, 05/10/2020                        ',
 '                                247 v Australia, 07/04/2021                        ',
 '                                270 v Sri Lanka, 16/03/2019                        ']

In [38]:
womens_odi_all_rounder[:10]

['Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr',
 'Katherine Brunt']

###  7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating

In [96]:
url='https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_1'
response=requests.get(url)
soup=bs(response.content,'html.parser')
Product_name=[]
Product=soup.find_all('span',class_='a-size-medium a-color-base a-text-normal')
for i in Product:
    name=i.text
    Product_name.append(name)
Product_name

['Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera',
 'Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera',
 'Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9A (Midnight Black 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery']

In [105]:
url='https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_1'
response=requests.get(url)
soup=bs(response.content,'html.parser')
price=[]
cost=soup.find_all('span',class_='a-price-whole')
for j in cost:
    amount=j.text
    price.append(amount)
price

['11,490',
 '6,799',
 '8,799',
 '12,999',
 '10,999',
 '8,999',
 '8,999',
 '9,999',
 '14,499',
 '8,999',
 '6,199',
 '8,799',
 '6,799',
 '6,799']

In [102]:
url='https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_1'
response=requests.get(url)
soup=bs(response.text,'html.parser')
image_url=[]
images=soup.find_all('img',class_='s-image')
for image in images:
    image_url.append(image['src'])
image_url

['https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81EHVlbWOaS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-BcSc9rhS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71AYb2AGHXL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg']

In [78]:
url='https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_1'
response=requests.get(url)
soup=bs(response.content,'html.parser')
average_rating=[]
rating=soup.find_all('i',class_='a-icon a-icon-star-small a-star-small-4 aok-align-bottom')
for l in rating:
    avg=l.text
    average_rating.append(avg)
average_rating

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars']

###   8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day 
extended forecast display for the city. The data should include period, short description, temperature and 
description.

In [82]:
url='https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YM85uhHitPY'
response=requests.get(url)
soup=bs(response.content,'html.parser')
period=[]
Period=soup.find_all('div',class_='col-sm-2 forecast-label')
for i in Period:
    days=i.b.text
    period.append(days)
period

['Today',
 'Tonight',
 'Tuesday',
 'Tuesday Night',
 'Wednesday',
 'Wednesday Night',
 'Thursday',
 'Thursday Night',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday']

In [84]:
url='https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YM85uhHitPY'
response=requests.get(url)
soup=bs(response.content,'html.parser')
period_description=[]
description=soup.find_all('div',class_='col-sm-10 forecast-text')
for j in description:
    period=j.text
    period_description.append(period)
period_description

['Mostly cloudy, then gradually becoming sunny, with a high near 69. Breezy, with a west southwest wind 10 to 15 mph increasing to 17 to 22 mph in the afternoon. Winds could gust as high as 29 mph. ',
 'Increasing clouds, with a low around 59. Southwest wind 15 to 20 mph decreasing to 8 to 13 mph after midnight. Winds could gust as high as 25 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 70. West southwest wind 7 to 12 mph increasing to 16 to 21 mph in the afternoon. Winds could gust as high as 26 mph. ',
 'Partly cloudy, with a low around 58. Southwest wind 16 to 21 mph decreasing to 10 to 15 mph after midnight. Winds could gust as high as 26 mph. ',
 'Sunny, with a high near 69. West southwest wind 6 to 11 mph increasing to 12 to 17 mph in the afternoon. Winds could gust as high as 23 mph. ',
 'Partly cloudy, with a low around 56.',
 'Sunny, with a high near 68.',
 'Partly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 69.',
 'Partly cloudy, with a low around 57.',
 'Sunny, with a high near 72.',
 'Partly cloudy, with a low around 57.',
 'Sunny, with a high near 74.']

In [83]:
url='https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YM85uhHitPY'
response=requests.get(url)
soup=bs(response.content,'html.parser')
temperature=[]
Temperature=soup.find_all('p',class_='temp temp-high')
for k in Temperature:
    weather=k.text
    temperature.append(weather)
temperature

['High: 69 °F', 'High: 70 °F', 'High: 69 °F', 'High: 68 °F', 'High: 69 °F']

In [85]:
temperature=soup.find_all('div',class_='panel-body')
temperature_description=[]
for k in temperature:
    description=k.text.replace('\n''\n''\n','')
    temperature_description.append(description)
temperature_description

['NA\n57°F\n14°C\n\nHumidity\n83%Wind Speed\nNA NA MPHBarometer\nNADewpoint\n51°F (11°C)Visibility\nNALast update\n\n                21 Jun 06:43 AM PDT            \nMore Information:Local Forecast OfficeMore Local Wx3 Day HistoryMobile WeatherHourly Weather Forecast \n',
 'Today\nPartly Sunnythen Sunnyand BreezyHigh: 69 °F\n\nTonight\nIncreasingCloudsLow: 59 °F\n\nTuesday\nDecreasingCloudsHigh: 70 °F\n\nTuesdayNight\nPartly CloudyLow: 58 °F\n\nWednesday\nSunnyHigh: 69 °F\n\nWednesdayNight\nPartly CloudyLow: 56 °F\n\nThursday\nSunnyHigh: 68 °F\n\nThursdayNight\nPartly CloudyLow: 56 °F\n\nFriday\nMostly SunnyHigh: 69 °F\n ',
 '\nTodayMostly cloudy, then gradually becoming sunny, with a high near 69. Breezy, with a west southwest wind 10 to 15 mph increasing to 17 to 22 mph in the afternoon. Winds could gust as high as 29 mph. TonightIncreasing clouds, with a low around 59. Southwest wind 15 to 20 mph decreasing to 8 to 13 mph after midnight. Winds could gust as high as 25 mph. TuesdayMostly cloudy, then gradually becoming sunny, with a high near 70. West southwest wind 7 to 12 mph increasing to 16 to 21 mph in the afternoon. Winds could gust as high as 26 mph. Tuesday NightPartly cloudy, with a low around 58. Southwest wind 16 to 21 mph decreasing to 10 to 15 mph after midnight. Winds could gust as high as 26 mph. WednesdaySunny, with a high near 69. West southwest wind 6 to 11 mph increasing to 12 to 17 mph in the afternoon. Winds could gust as high as 23 mph. Wednesday NightPartly cloudy, with a low around 56.ThursdaySunny, with a high near 68.Thursday NightPartly cloudy, with a low around 56.FridayMostly sunny, with a high near 69.Friday NightPartly cloudy, with a low around 57.SaturdaySunny, with a high near 72.Saturday NightPartly cloudy, with a low around 57.SundaySunny, with a high near 74. ',
 '\nZone Area Forecast for San Francisco County, CA\n\nForecast Discussion\nPrintable Forecast\nText Only Forecast\n\nHourly Weather Forecast\nTabular ForecastAir Quality Forecasts\nInternational System of Units\nForecast Weather Table Interface\n\nHourly River StagesHourly RainfallNWS Office MapWeather CalculatorUser Defined Area\n \n',
 'Radar & Satellite Image\n  \nHourly Weather ForecastNational Digital Forecast Database\n\nHigh Temperature\nChance of Precipitation \n\n',
 '\n\nClimate Monitoring \nPast Weather \nMonthly Temps \nRecords \nAstronomical Data \nCertified Weather Data \n\n',
 '\n\nWarnings By State\nExcessive Rainfall and Winter Weather Forecasts\nRiver Flooding \nLatest Warnings\nThunderstorm/Tornado Outlook \nHurricanes \nFire Weather Outlooks \nUV Alerts \nDrought \nSpace Weather \nNOAA Weather Radio \nNWS CAP Feeds \n\n',
 '\n\nRadar \nClimate Monitoring \nRiver Levels \nObserved Precipitation \nSurface Weather \nUpper Air \nMarine and Buoy Reports \nSnow Cover \nSatellite \nSpace Weather \nInternational Observations\n\n',
 '\n\nLocal Forecast \nInternational Forecasts\nSevere Weather \nCurrent Outlook Maps \nDrought \nFire Weather \nFronts/Precipitation Maps \nCurrent Graphical Forecast Maps \nRivers \nMarine \nOffshore and High Seas\nHurricanes \nAviation Weather \nClimatic Outlook \n\n',
 '\n\nSpace Weather \nDaily Briefing \nMarine \nClimate \nFire Weather \nAviation \nForecast Models \nWater \nGIS\nCooperative Observers \nStorm Spotters \nTsunami Warning System\nNational Water Center\nInternational Weather\n\n',
 '\n\nNOAA Weather Radio\nStormReady\nHeat \nLightning \nHurricanes \nThunderstorms \nTornadoes \nRip Currents \nFloods \nTsunamis\nTsunamiReady\nWinter Weather \nUltra Violet Radiation \nAir Quality \nDamage/Fatality/Injury Statistics \nRed Cross \nFederal Emergency Management Agency (FEMA) \nBrochures \nSafe Boating\n\n',
 '\n\nNewsroom\nSocial Media \nEvents\nPubs/Brochures/Booklets \n\n',
 '\n\nNWS Education Home\nBe A Force of Nature\nNOAA Education Resources \nGlossary \nJetStream \nNWS Training Portal \nNOAA Library \nFor Students, Parents and Teachers\nBrochures \n\n',
 '\n\nOrganization \nStrategic Plan \nFor NWS Employees \nInternational \nNational Centers \nProducts and Services \nCareers\nGlossary \nContact Us \n\n']

### Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date

In [86]:
url='https://internshala.com/fresher-jobs'
response=requests.get(url)
soup=bs(response.content,'html.parser')
job_title=[]
company_name=[]
CTC=[]
title=soup.find_all('div',class_='heading_4_5 profile')
for i in title:
    job=i.a.text
    job_title.append(job)
companies=soup.find_all('div',class_='heading_6 company_name')
for j in companies:
    name=j.a.text.replace('\n','')
    company_name.append(name)
salary=soup.find_all('div',class_='item_body')
for k in salary:
    amount=k.text.replace('\nStarts\xa0Immediately\n','CTC,Apply_Date').replace('\n','')
    CTC.append(amount)

In [88]:
job_title[:10]

['Administration Associate',
 'Recruiter',
 'Associate Software Developer',
 'Project Coordinator',
 'Web Developer',
 'Software Engineer Trainee',
 'Business Development Specialist (Sales & Marketing)',
 'Business Development Executive',
 'Associate Front End Developer',
 'Corporate Sales Executive']

In [89]:
company_name[:10]

['                        Global Sun                    ',
 '                        Radish Consultants Private Limited                    ',
 '                        Medico Healthcare Services & Technologies                    ',
 '                        Edupixels                    ',
 '                        Manufac Analytics Private Limited                    ',
 '                        Swabhav Techlabs                    ',
 '                        Claraeon Learning Private Limited                    ',
 '                        Picostone                    ',
 '                        AIMonk Labs Technology Limited                    ',
 '                        369 Zoss Waters                    ']

In [90]:
CTC[:10]

['CTC,Apply_Date                        ',
 '  3 - 3.2 LPA                                                    ',
 "21 Jul' 21",
 'CTC,Apply_Date                        ',
 '  3 - 5 LPA                                                    ',
 "21 Jul' 21",
 'CTC,Apply_Date                        ',
 '  3 - 3.2 LPA                                                    ',
 "21 Jul' 21",
 'CTC,Apply_Date                        ']

### 10. Write a python program to scrape house details from mentioned url. It should include house title, location,area, emi and price

In [91]:
url='https://www.nobroker.in/property/buy/2-bhk-apartment-for-sale-in-electronic-city-bangalore/8a9faa82782f8f690178301003ec3d53/detail'
response=requests.get(url)
soup=bs(response.content,'html.parser')
house_title=[]
title=soup.find('div',class_='nb__3A_8I').h1.text
house_title.append(title)
house_title

['2 BHK Flat  For Sale  In Purnima Elite, Electronic City In Electronic City']

In [92]:
url='https://www.nobroker.in/flats-for-sale-in-electronic_city_bangalore'
response=requests.get(url)
soup=bs(response.content,'html.parser')
location=[]
place=soup.find_all('div',class_="nb__2CMjv")
for i in place:
    street=i.text
    location.append(street)
location[0]

'Gm Infinite E-City Town\xa0 GM Infinite ECity town, Thirupalya Road, Electronic City, Bengaluru, Karnataka 560100, India'

In [93]:
url='https://www.nobroker.in/flats-for-sale-in-electronic_city_bangalore'
response=requests.get(url)
soup=bs(response.content,'html.parser')
area=[]
sft=soup.find_all('div',class_='nb__3oNyC')
for i in sft:
    squareft=i.text
    area.append(squareft)
area[0]

'1,070 sqft'

In [94]:
url='https://www.nobroker.in/flats-for-sale-in-electronic_city_bangalore'
response=requests.get(url)
soup=bs(response.content,'html.parser')
emi=[]
EMI=soup.find_all('div',class_='font-semi-bold heading-6')
for i in EMI:
    interest=i.text
    emi.append(interest)
emi[1]

'₹33,242/Month'

In [95]:
url='https://www.nobroker.in/flats-for-sale-in-electronic_city_bangalore'
response=requests.get(url)
soup=bs(response.content,'html.parser')
price=[]
cost=soup.find_all('div',class_='heading-7')
for k in cost:
    amount=k.text
    price.append(amount)
price[2]

'₹5,421 per sq.ft.'